// category variables

$debug-border: 2px solid red
$table-border: .2rem solid black



// category style

body
  margin: 0
  font-family: Arial, Helvetica, sans-serif
  font-size: 1.2em

main
  width: 80vw
  max-width: 1600px
  margin: 0 auto

section
  border: $debug-border
  display: grid
  grid-template-rows: auto auto
  grid-template-columns: 2fr 1fr
  column-gap: 4em

h2
  grid-column: span 2
  text-align: center
  text-decoration: underline

table
  margin: 1em
  grid-column: span 2
  border: $table-border
  border-collapse: collapse

  th
    padding: 1em
    font-size: 1.2em

  tr, td
    padding: .6em
  
  th, tr, td
    border: $table-border