// category variables

$debugborder: 2px solid red



// category style

body
  margin: 0
  font-family: Arial, Helvetica, sans-serif

main
  width: 80vw
  max-width: 1600px
  margin: 0 auto

section
  border: $debugborder
  display: grid
  grid-template-rows: auto auto
  grid-template-columns: 2fr 1fr
  column-gap: 4em

h2
  grid-column: span 2
  text-align: center
  text-decoration: underline

canvas
  width: 30px